.background {
    background-image: url(UpsplashBack.avif);
    background-size: cover;
    background-position: center center;
}

/* HOME SCREEN */
.home {
    display: flex;
    border: 1px solid brown;
    height: 90vh;
    width: 90vw;
}

    .StartButton {
        align-self: center;
        margin-left: auto;
        margin-right: auto;
        height: 20%;
        width: 30%;
    }


/* GAME SCREEN */
.game {
    /* CHANGE BACK TO NONE */
    display: flex;
    flex-direction: column;
    /* border: 1px solid seagreen; */
    height: 90vh;
    width: 90vw;
}
    
    .scoreboard {
        display: flex;
        align-items: start;
        justify-content: space-between;
        border: 1px solid salmon;
        width: 100%;
        height: 10%;
    }
        .roundCount {
            /* border: 1px solid brown; */
            height: 100%;
            width: 25%;
        }
        .score {
            /* border: 1px solid blueviolet; */
            height: 100%;
            width: 25%;
        }
        .lifeCount {
            /* border: 1px solid blue; */
            height: 100%;
            width: 25%;
        }
    .gameDisplay {
        display: flex;
        align-items: center;
        justify-content: space-around;
        /* border: 1px solid blueviolet; */
        height: 70%;
    }
    .controls {
        border: 1px solid blue;
        height: 20%;
    }
        .controlButtons {
            border: 3px solid crimson;
            border-radius: 20%;
            height: 50px;
            width: 150px;
            color: crimson;
            font-weight: bolder;
            font-size: 100%;
            background-color: blue;
            opacity: 90%;
        }


.win {
    display: none;
}

.lose{
    display: none;
}
